<h3>Books list</h3>
<div
  *ngIf="message"
  [class.alert-danger]="level==='error'"
  [class.alert-success]="level==='success'"
  class="alert "
  role="alert"
>
  <p>{{message}}</p>
</div>
<hr>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  <app-book-card
    (borrow)="borrowBook($event)"
    (details)="displayBookDetails($event)"
    *ngFor="let book of bookResponse.content"
    [book]="book"
  ></app-book-card>
</div>
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          (click)="goToFirstPage()"
          [class.disabled]="page === 0"
          aria-label="Previous"
          class="page-link"
          href="javascript:void(0)"
        >
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToPreviousPage()"
          [class.disabled]="page === 0"
          aria-label="Previous"
          class="page-link"
          href="javascript:void(0)"
        >
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>
      <li
        *ngFor="let pageIndex of pages"
        class="page-item"
      >
        <a
          (click)="gotToPage(pageIndex)"
          [class.active]="page === pageIndex"
          class="page-link"
          href="javascript:void(0)"
        >{{ pageIndex + 1 }}</a>
      </li>
      <li class="page-item">
        <a
          (click)="goToNextPage()"
          [class.disabled]="isLastPage"
          aria-label="Next"
          class="page-link"
          href="javascript:void(0)"
        >
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToLastPage()"
          [class.disabled]="isLastPage"
          aria-label="Next"
          class="page-link"
          href="javascript:void(0)"
        >
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
